html, body {
  font-family: Montserrat;
  background-color: black;
  min-width: 260px;
  color: #4FCAEB;
}

#main {
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background: black;
  text-align: center;
  margin-top: 10px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
  margin: -5px;
  margin-top: 20px;
  width: 100%;
  border: 5px #EF3179;
  background: black;
}

#img-caption {
  margin: 15px;
  font-size: 14px;
  text-align: center;
}

#headline {
  margin-top: 35px;
  text-align: left;
  color: #EF3179;
}

h1 {
  text-align: center;
  color: #EF3179;
}

ul {
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
}

li {
  margin: 10px;
}

.github {
  text-align: center;
  margin-bottom: 45px;
}
